API/EAPI-retrieveConsolidatedRoutesandSchedules/src/main/mule/EAPI-retrieveconsolidatedroutesandschedules.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="retrieveconsolidatedroutesandschedules-httpListenerConfig">
        <http:listener-connection host="${http.listener.host}" port="${http.listener.port}" />
    </http:listener-config>
    <apikit:config name="retrieveconsolidatedroutesandschedules-config" api="retrieveconsolidatedroutesandschedules.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties doc:name="Configuration properties" doc:id="27de16b3-19c4-44ef-b09b-b04ea346672a" file="config.yaml" />
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="492d61c9-42dc-44d8-b880-658948e3f2e3" >
		<http:request-connection host="${http.requester.host}" port="${http.requester.port}" />
	</http:request-config>
	<flow name="retrieveconsolidatedroutesandschedules-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedules-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedules-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedules-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\booking\(transportType)\routes:retrieveconsolidatedroutesandschedules-config">
        <logger level="INFO" doc:name="Request received for routes from the user" doc:id="d4694bd3-3283-4c58-993a-312dc662de59" message="Request received for routes from the user"/>
		<ee:transform doc:name="transportType" doc:id="cc1c717f-adee-43e1-9526-6d9baab033f7">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="companyCode" ><![CDATA[attributes.queryParams.'companyCode']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="66d36135-1da5-4b2f-8247-a36f68aea320" config-ref="HTTP_Request_configuration" path="/api/booking/car/routes?destinationLocationCode=vfg&amp;departureLocationCode=scg">
			<http:headers><![CDATA[#[output application/java
---
{
	companyCode : attributes.queryParams.companyCode
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	companyCode : attributes.queryParams.companyCode
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="response: display available routes" doc:id="3e01bc04-87c6-4207-9626-d44822fc8094" message="#[payload]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveconsolidatedroutesandschedules-config">
        <logger level="INFO" doc:name="Request received for schedules from the user" doc:id="7e70a897-0ed3-4ba8-ac00-a7627dd7308c" message="Request received for schedules from the user"/>
		<ee:transform doc:name="transportType" doc:id="d743b331-6005-40b9-b36f-0449bb3bfa6d">
            <ee:message >
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="companyCode" ><![CDATA[attributes.queryParams.'companyCode']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="0b9a11fa-0e04-4e51-b780-faebb21f70a0" config-ref="HTTP_Request_configuration" path="/api/booking/car/schedules?destinationLocationCode=vfg&amp;departureLocationCode=scg">
			<http:headers><![CDATA[#[output application/java
---
{
	companyCode : attributes.queryParams.companyCode
}]]]></http:headers>
			<http:query-params><![CDATA[#[output application/java
---
{
	companyCode : attributes.queryParams.companyCode
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="response: display available schedules" doc:id="fdb33ebc-c9cf-41be-90a8-7aa101472a97" message="#[payload]"/>
    </flow>
</mule>
